<!DOCTYPE html>
<html>
<head>
    <title>Конвертер валюты</title>
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename = 'css/styles.css')}}">
</head>
<body class="background">
    <div class="nameblock">
        <p class="nameblocktext">Конвертер</p>
    </div>
    <body>
        <form method="POST" action="/">
            <p class="question">Введите сумму</p>
            <input class="name" type="text" id="name1" name="name1" placeholder=". . ." onchange='eventForm(this.value)'>

            <p class="question">Начальная валюта</p>
            <select class="buttonstyle" id="name2" name="name2">
            <option value="RUB">RUB</option>
            <option value="EUR">EUR</option>
            <option value="USD">USD</option>
            <option value="TL">TL</option>
            </select>

            <p class="question">Конечная валюта</p>
            <select class="buttonstyle" id="name3" name="name3">
            <option value="RUB">RUB</option>
            <option value="EUR">EUR</option>
            <option value="USD">USD</option>
            <option value="TL">TL</option>
            </select>

            <p class="question">Результат: {{ text }}</p>
            <button class="buttonstyle">Посчитать</button>
        </form>
    </body>
</body>
</html>
